.devtools-tabbar,
.devtools-toolbar,
.tabs-navigation,
.ruleview-header,
.tabs-menu,
.splitview-controller,
.toolbox-tabs,
.devtools-tab,
.request-list-empty-notice,
.requests-list-table {
    font-family: var(--theme-font-family) !important;
}

.modal {
    border-radius: 6px;

    .search-outline {
        border-radius: 6px;
    }

    input {
        border-radius: 6px;
    }
}

#result-list {
    border-radius: 6px;
}

.result-list li.selected {
    background-color: var(--theme-highlight-blue) !important;
}

.CodeMirror-scroll {
    padding-bottom: 0 !important;
}

.devtools-tab,
.devtools-sidebar-tabs tab {
    border-radius: var(--theme-border-radius) var(--theme-border-radius) 0 0 !important;
    transition: background-color var(--theme-transition-duration) var(--theme-transition-timing),
        box-shadow var(--theme-transition-duration) var(--theme-transition-timing),
        padding var(--theme-transition-duration) var(--theme-transition-timing) !important;
    font-family: var(--theme-font-family);
}

.devtools-tabbar *, .tabs-navigation *, .panel *, .welcomebox *, .secondary-panes * {
    font-family: var(--theme-font-family) !important;
}

.properties-view * {
    font-family: Menlo !important;
}
