* {
    --border-radius-medium: 10px;
}

#zen-appcontent-navbar-container {
    --zen-toolbar-height: 38px;
}

#navigator-toolbox {
    --zen-toolbar-height: 36px;
}

.zen-glance-sidebar-container {
    right: unset !important;
    left: 100%;
}