.zen-current-workspace-indicator {
    display: none !important;
}

.zen-essentials-container {
    padding-top: 0 !important;
}

zen-workspace {
    padding-top: 50px !important;
}

.pinned-tabs-container-separator {
    padding-top: 20px;

    & > toolbarseparator {
        height: 2px !important;
        max-height: 2px !important;
        width: 10% !important;
        min-width: 10px !important;
        border-radius: 2px !important;
    }

    .zen-workspace-close-unpinned-tabs-button {
        display: none;
    }
}

#tabbrowser-tabs[orient='vertical'] {
    &:not([expanded]) {
        & .tab-close-button {
            top: -2px !important;
            left: -1px !important;
        }
    }
}

#tabbrowser-tabs {
    & .tabbrowser-tab[pinned="true"] {
        & .tabbrowser-tab {
            position: absolute !important;
            top: 0;
            right: 0;
            border-radius: var(--tab-border-radius) !important;

            & .tab-stack > * {
                height: 24px !important;
            }

            & .tab-icon-image {
                position: absolute !important;
                top: 1px;
                left: 1px;
                transform: translate(-50%, -50%);
            }
        }

        .tab-audio-button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

:root:not([zen-sidebar-expanded='true']) {
    --tab-min-width: 42px !important;
    --zen-toolbox-padding: 4px !important;
    --zen-toolbox-max-width: calc(var(--tab-min-width) + var(--zen-toolbox-padding) * 2);
    --tab-collapsed-background-width: 40px !important;
    --tab-min-height: 38px !important;
}

.zen-workspace-pinned-tabs-section .tab-background {
    min-height: 42px !important;
}

.vertical-pinned-tabs-container-separator {
    width: 42px !important;
    max-width: 50% !important;
}

toolbar .toolbaritem-combined-buttons {
    margin-inline: 0 !important;
}

#navigator-toolbox[zen-sidebar-expanded="true"] {
    padding-top: 2px !important;
}
