.zen-current-workspace-indicator {
    display: none !important;
}

.zen-essentials-container {
    padding-top: 0 !important;
}

zen-workspace {
    padding-top: 50px !important;
}

.pinned-tabs-container-separator {
    margin: 6px auto !important;
    height: 2px !important;
    max-height: 2px !important;
    width: 10% !important;
    min-width: 10px !important;
    border-radius: 2px !important;
}

#tabbrowser-tabs[orient='vertical'] {
    &:not([expanded]) {
        & .tab-close-button {
            top: -2px !important;
            left: -1px !important;
        }
    }
}

:root:not([zen-sidebar-expanded='true']) {
    --tab-min-width: 42px !important;
    --zen-toolbox-padding: 4px !important;
    --zen-toolbox-max-width: calc(var(--tab-min-width) + var(--zen-toolbox-padding) * 2);
    --tab-collapsed-background-width: 40px !important;
    --tab-min-height: 38px !important;
}
