#urlbar-input[aria-expanded='false'] {
    text-align: center !important;
}

#userContext-label {
    display: none;
}

#star-button-box {
    display: none;
}

#nav-bar #urlbar:not([breakout-extend='true']) {
    :root:not([supress-primary-adjustment]) & #urlbar-background {
        margin: 2px !important;
    }

    #zen-current-workspace-indicator-container {
        display: none;
    }

    #zen-media-controls-toolbar {
        margin-top: 10px;
    }
}

/* twilight
#identity-box, #trust-icon-container, #tracking-protection-icon-container {
    position: absolute;
    transform: translateY(-50%);
    background: light-dark(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
    height: 28px;
    top: 50%;
    left: 1px;
    border-radius: 8px;
    padding: 0 2px;

    opacity: 0;
    transition: all 0.4s ease;
}

#urlbar:hover {
    #identity-box, #trust-icon-container, #tracking-protection-icon-container {
        opacity: 1;
    }
}

#urlbar[focused] {
    #identity-box, #trust-icon-container, #tracking-protection-icon-container {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateY(0);
        background: none;
    }
}

#urlbar[breakout-extend='false'] .urlbar-input-box, #urlbar:is(:not([breakout-extend])) .urlbar-input-box {
    padding-left: 12px;
}
*/

#urlbar[breakout]:not([open]) {
    translate: 0 -2px;
}

#urlbar * {
    font-weight: normal !important;
}

#nav-bar {
    position: relative !important;
    top: 2px;
}

@-moz-document url-prefix("chrome:") {
    #urlbar[breakout-extend='true'] {
        backdrop-filter: blur(10px) !important;
    }

    #urlbar[breakout-extend='true'] #urlbar-background {
        border: solid 3px color-mix(in hsl, hsl(0 0 50), transparent 90%) !important;
        border-radius: 15px !important;
        background: light-dark(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)) !important;
        backdrop-filter: blur(25px) saturate(2) !important;
        outline: none !important;
    }

    .urlbarView-row .urlbarView-url,
    .urlbarView-title-separator::before {
        color: light-dark(#666, #ccc) !important;
    }

    /* Unifies the border radius */
    .urlbarView-row {
        border-radius: 11px !important;
    }

    /* Deletes the border */
    .urlbarView-body-inner {
        border: none !important;
    }

    .urlbarView-row[has-action]:is([type='switchtab'], [type='remotetab'], [type='clipboard']) {
        & > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-action {
            padding: 0 !important;
        }
    }

    .urlbarView-userContext-textMode {
        text-transform: uppercase !important;
        font-weight: normal !important;
        font-size: 13px;
    }

    .urlbarView-row[has-action]:is([type='switchtab'], [type='remotetab'], [type='clipboard']) {
        &:is([type='switchtab'], [type='remotetab']) .urlbarView-action {
            scale: 0.9 !important;
        }
    }

    .urlbarView-row[has-action]:is([type='switchtab'], [type='remotetab'], [type='clipboard']) {
        &:is([type='switchtab'], [type='remotetab']) .urlbarView-action {
            &::after {
                display: none !important;
            }
        }
    }

    /* Styles the search options */
    .search-one-offs {
        border-top: none !important;
        border-radius: 10px !important;
        padding: 4px !important;
        margin: 0px 0px 7px 0px !important;
        backdrop-filter: brightness(130%);
    }

    .searchbar-engine-one-off-item {
        border-radius: 8px !important;
        margin-right: 3px !important;
    }

    #urlbar-anon-search-settings {
        margin-right: 0 !important;
    }

    .urlbarView-row-inner {
        padding-block: 8px !important;
        padding-inline: 8px !important;
    }

    .urlbarView-type-icon {
        stroke: transparent !important;
        width: 10px !important;
        height: 10px !important;
    }
}

:root:not([zen-single-toolbar="true"]) #urlbar:not([breakout-extend="true"]) .urlbar-input-container:not([pageproxystate="invalid"]) {
    & #identity-box {
        order: -1 !important;
    }

    & #zen-copy-url-button {
        order: 1 !important;
        display: none;
    }
}